<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Winter Sports</title>
    <link href="{$basePath}/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" n:href="Homepage:default">Admin</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    </form>
    <form>
        <a n:href=":Front:Homepage:default" class="btn btn-dark mb-2"><i class="fas fa-home"></i></a>
    </form>
    <!-- Navbar-->
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" n:href="Sport:default">
                        Winter Sports
                    </a>
                </div>
                <div class="nav">
                    <a class="nav-link" n:href="Gender:default">
                        Gender
                    </a>
                </div>
                <div class="nav">
                    <a class="nav-link" n:href="Athlete:default">
                        List Of Athletes
                    </a>
                </div>
                <div class="nav">
                    <a class="nav-link" n:href="DisciplineGender:default">
                        Discipline Gender
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                {foreach $flashes as $flash}
                    <p class="flash text-center text-white bg-{$flash->type}">{$flash->message}</p>
                {/foreach}
                {include content}
            </div>
        </main>
    </div>


</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{$basePath}/js/scripts.js"></script>
<script src="{$basePath}/js/dependentSelectBox.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="{$basePath}/assets/demo/datatables-demo.js"></script>
</body>
</html>