services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Repositories\SportRepository
	- App\AdminModule\Components\Forms\Sport\SportFormFactory
	- App\Model\Repositories\GenderRepository
	- App\AdminModule\Components\Forms\Gender\GenderFormFactory
	- App\Model\Repositories\AthleteRepository
	- App\AdminModule\Components\Forms\Athlete\AthleteFormFactory
	- App\Model\Repositories\DisciplineRepository
	- App\AdminModule\Components\Forms\Discipline\DisciplineFormFactory
	- App\Model\Repositories\RacePositionRepository
	- App\AdminModule\Components\Forms\RacePosition\RacePositionFormFactory
	- App\Model\Repositories\ScheduleRepository
	- App\AdminModule\Components\Forms\Schedule\ScheduleFormFactory
