services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Repositories\SportRepository
	- App\AdminModule\Components\Forms\Sport\SportFormFactory
	- App\Model\Repositories\GenderRepository
	- App\Model\Repositories\AthleteRepository
	- App\AdminModule\Components\Forms\Athlete\AthleteFormFactory
	- App\Model\Repositories\DisciplineRepository
	- App\AdminModule\Components\Forms\Discipline\DisciplineFormFactory
	- App\Model\Repositories\RacePointRepository
	- App\AdminModule\Components\Forms\RacePoint\RacePointFormFactory
	- App\Model\Repositories\ScheduleRepository
	- App\AdminModule\Components\Forms\Schedule\ScheduleFormFactory
	- App\Model\Repositories\RaceResultRepository
	- App\AdminModule\Components\Forms\RaceResult\RaceResultFormFactory
	- App\Model\Repositories\DisciplineGenderRepository
	- App\AdminModule\Components\Forms\DisciplineGender\DisciplineGenderFormFactory
