{block content}

<div class="sport-records-class">
    <h1>Sports</h1>
    <br>
    {foreach $sports as $sportRecord}
        <span>
            <a n:href="Test:default, sportId => $sportRecord->getId()" class="category-button">{$sportRecord->getName()}</a>
        </span>
    {/foreach}
    <br><br>
    <h2 id="sport-heading">
        {if $sport !== null}
            {$sport->getName()}
        {/if}
    </h2>
    <br>
    {foreach $genders as $genderRecord}
        <span>
            <a n:href="Test:default, sportId => $sportId, genderId => $genderRecord->getId()" class="category-button">
                {$genderRecord->getName()}
            </a>
        </span>
    {/foreach}
    <h2 id="sport-heading">
        {if $gender !== null}
            {$gender->getName()}
        {/if}
    </h2>
    <br><br>
    {ifset $disciplines}
        {foreach $disciplines as $discipline}
            <span class="category-button">
                {$discipline->getName()}
            </span>
        {/foreach}
    {/ifset}

</div>
