{block content}

<h1 class="h3 mt-4 mb-2 text-gray-800">Add</h1>

<div class="card mb-4">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {control raceResultForm}
        </div>
    </div>
</div>
